/* Frontend Styles */

/* Main container styles */

.wpt-controls {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.search #wpt-search {
    width: 300px;
}

.filter #wpt-category-filter{
    width: 150px;
}

td.wpt-image-cell {
    text-align: center !important;
}

td.wpt-image-cell img {
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;
}

td.wpt-quantity-cell input {
    max-width: 80px;
}

td.wpt-no-products {
    text-align: center;
}

/* Search and filter controls */
#wpt-search, 
#wpt-category-filter {
    margin-bottom: 10px;
    padding: 8px;
}

.wpt-container-wraper {
    padding: 15px 0px;
}

.wpt-product-count .wpt-product-count-cell {
    text-align: center;
}